<p id="notice"><%= notice %></p>

<h1>Listing Status Codes</h1>

<div class="col-xs-3">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @statuses.each do |status| %>
        <tr>
          <td><%= status.status %></td>
          <td>
            <%= link_to status do %>
              <span class="glyphicon glyphicon-search"></span>
            <%- end -%>
          </td>
          <td>
            <%= link_to edit_status_path(status) do %>
              <span class="glyphicon glyphicon-edit"></span>
            <%- end -%>
          </td>
          <td>
            <%= link_to status, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <%- end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Status', new_status_path %>

</div>
<br>


