<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <p><strong>Address</strong></p>
    <%= f.input_field :address_line_1, placeholder: 'Address Line 1' %>
    <%= f.input_field :address_line_2, placeholder: 'Address Line 2' %>
    <%= f.input_field :city, placeholder: 'City' %>
    <%= f.input_field :state, placeholder: 'State' %>
    <%= f.input_field :zip, placeholder: 'Zip Code' %>
    <%= f.input :phone %>
    <p><strong>Contact</strong></p>
    <%= f.input_field :contact_name, placeholder: 'Name' %>
    <%= f.input_field :contact_email, placeholder: 'Email' %>
    <%= f.input_field :contact_phone, placeholder: 'Phone' %>
    <p><strong>Billing Rate: </strong></p>
    <%= f.input_field :billing_rate %>
    <p><strong>Status: </strong></p>
    <%= f.input_field :status %>
    <p><strong>Internal ID: </strong></p>
    <%= f.input_field :internal_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
