<p id="notice"><%= notice %></p>

<h1>Client List</h1>

<%= will_paginate @clients, renderer: BootstrapPagination::Rails %>
<%= link_to 'New Client', new_client_path %>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Internal ID", :sort => "internal_id" %></th>
      <th>Address line 1</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.internal_id %></td>
      <td><%= client.address_line_1 %></td>
      <td><%= client.city %></td>
      <td><%= client.state %></td>
      <td><%= client.phone %></td>
      <td><%= client.contact_name %></td>
      <td><%= client.contact_email %></td>
      <td><%= client.contact_phone %></td>
      <td><%= client.status %></td>
      <td><%= link_to 'Show', client %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
<p>
  Download:
  <%= link_to "CSV", clients_path(format: "csv") %>
</p>