<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @client.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @client.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @client.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @client.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @client.contact_phone %>
</p>

<p>
  <strong>Billing rate:</strong>
  <%= @client.billing_rate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @client.status %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
