<%# add navigation links to this file %>
 <% if signed_in? %>
  <li><%= link_to 'Clients', clients_path %></li>
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to 'Tasks', tasklists_path %></li>
  <li><%= link_to 'Activities', daily_activities_path %></li>
<li><%= link_to 'Messages', messages_path %></li>
  <li><%= link_to 'About', page_path('about') %></li>
<% end %>